body {
	margin: unset;
}

button {
	padding: unset;
	border: none;
}








nav {
	display: flex;
	justify-content: space-between;
	align-content: center;

	padding: 1.5rem;

}

#nav__icons {
	display: flex;
	gap: 1rem;
}

#nav__icons button {
	background-color: unset;
	box-sizing: content-box;
}

